@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html {
  --font-main: Ubuntu;
  font-family: var(--font-main);
  --bg-main: rgb(224, 224, 224);
  --bg-list: white;
  --bg-header: rgb(34, 34, 34);
  --text-color-header: white;
  --nav-border: 1px var(--bg-main) solid;
  --nav-bg: rgb(66, 66, 66);
  --X-transition: 100ms linear;
  --X-transform: rotate(-90deg);
  --green: #77b255;
  --light-green: #9fba90;
  font-size: 1.1rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  --nav-height: 1.3rem;
  scrollbar-width: thin;
}
html * {
  margin: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header {
  background-color: var(--bg-header);
  color: var(--text-color-header);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav {
  color: var(--text-color-header);
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: stretch; */
  margin: 1px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.col-title-input {
  width: 7.2rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.5rem !important;
  /* padding: 1.2rem 0.5rem 1.2rem 1rem; */
}
.nav-item {
  background-color: var(--nav-bg);
  width: 100%;
  cursor: pointer;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  padding: 1.2rem 1rem;
  white-space: nowrap;
}
.nav-item:not(:last-child) {
  border-right: var(--nav-border);
}
.nav-item:not(.pad-right) {
  padding: 1.2rem 0.5rem 1.2rem 1rem;
}
.nav-item:hover {
  background-color: black;
}
.active-nav {
  background-color: rgb(50, 50, 105) !important;
  border-top: none !important;
  color: yellow;
}
.menu {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0;
  background-color: var(--nav-bg);
  border-right: var(--nav-border);
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1rem;
  height: 1.3rem;
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-dropdown {
  min-width: 100%;
  position: absolute;
  background: white;
  color: black;
  z-index: 100;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition: 0.4s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.3s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.3s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.1s 0.1s color,
    0.1s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(124, 222, 255, 0.449);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
  z-index: 99;
}
.menu:hover > .menu-dropdown {
  box-shadow: 0 5px 5px 5px rgba(134, 73, 73, 0.3);
}
#nav-spacer {
  min-width: 0px;
  width: 100%;
  height: 1.3rem;
}

#archive {
  text-decoration: wavy;
}
body {
  background-color: var(--bg-main);
  overflow-y: auto;
  margin-bottom: 3rem;
}
#select-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.current-collection {
  margin: 1rem auto -1rem;
  width: max-content;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
main {
  display: grid;
  padding: 1rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  cursor: text;
  font-size: 1.3rem;
}
h2 input {
  width: 9rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}
h3 {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
}
input:focus {
  outline: #77b255 1px solid;
  border-radius: 0.1rem;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0;
}
.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px rgba(163, 163, 163, 0.1);
}
.completed-item {
  text-decoration: line-through;
}
.card:hover {
  box-shadow: 0 0 5px 5px rgba(163, 163, 163, 0.336);
}
.col-btns {
  display: flex;
  flex-direction: column;
}
.list {
  background-color: var(--bg-list);
  visibility: visible;
  /* height: fit-content; */
  min-width: fit-content;
  justify-content: stretch;
  align-items: stretch;
  transition: 200ms linear;
}
.list-titles {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 0.3rem 0.5rem 0.35rem;
}
.list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-footer {
  /* border: 1px red solid; */
  margin: 1rem 0.3rem 0rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}
.list label {
  cursor: text;
}
.list-menu-container {
  display: inline-block;
  flex-direction: column;
}
.list-menu {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2rem;
  transition: 70ms linear;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.list-menu:hover {
  background-color: lightgray;
  stroke: black;
  transform: scale(1.1);
}
.list-menu-dropdown {
  display: none;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(196, 196, 196, 0.3);
  translate: -3rem;
  width: max-content;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 0.3rem;
}
.list-menu-dropdown li:hover {
  background-color: rgb(186, 124, 124);
  color: white;
}
.list-menu-dropdown li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 0.8rem;
}
.list-menu-dropdown li:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
.list-menu-dropdown li:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}
.active-list-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: visible;
}
input[type="color"] {
  display: hidden;
  visibility: hidden;
}
.color-wheel {
  height: 1.4rem;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  border-radius: 50%;
  opacity: 0.5;
  transition: 120ms linear;
}
.color-wheel:hover {
  /* box-shadow: 0 0 5px 5px pink; */
  opacity: 1;
  transform: scale(1.05);
}
.color-wheel:active {
  transform: scale(1);
}
.del-col-btn {
  padding: 0.2rem;
  margin-left: 1rem;
  height: 1.1rem;
  opacity: 50%;
  transition: var(--X-transition);
  border-radius: 50%;
}
.del-col-btn:hover {
  background-color: rgb(0, 162, 40);
  opacity: 100%;
  /* transform: var(--X-transform); */
  transform: scale(1.05);
}
.del-col-btn:active {
  transform: scale(1);
}
.del-list-btn {
  opacity: 0.5;
  padding: 0.1rem;
  height: 1.2rem;
  transition: 100ms linear;
  border-radius: 50%;
  transform: rotate(90deg);
  margin-right: 0.12rem;
}
.del-list-btn:hover {
  transform: scale(1.3);
  opacity: 1;
  background-color: rgb(255, 147, 147);
  fill: red;
}
.finish-list-btn {
  opacity: 50%;
  padding: 0.1rem;
  height: 1.5rem;
  transition: var(--X-transition);
  border-radius: 50%;
  cursor: pointer;
  background-color: lightgray;
}
.finish-list-btn:hover {
  opacity: 75%;
  background-color: var(--green);
  transform: scale(1.05);
}
.finish-list-btn:active {
  transform: scale(1);
  opacity: 100%;
}
.del-item-btn {
  border-radius: 50%;
  margin-left: 0.2rem;
  height: 1.1rem;
  width: 1.1rem;
  padding: 0.1rem;
  transition: 100ms linear;
}
.del-item-btn:hover {
  background-color: rgb(255, 87, 87);
  /* transform: scale(1.05); */
  transform: rotate(-90deg);
}
ul {
  list-style-type: none;
  padding: 0;
}
.pin {
  /* STAR */
  cursor: pointer;
  transition: 100ms linear;
}
.pin:hover {
  transform: scale(1.05);
}
.pin:active {
  transform: scale(1.1);
}
.checkbox {
  border: 1px rgb(186, 186, 186) solid;
  width: 1.1rem;
  height: 1.1rem;
  min-width: 1.1rem;
  max-width: 1.1rem;
  min-height: 1.1rem;
  max-height: 1.1rem;
  display: flex;
  border-radius: 50%;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 120ms linear;
}
.checkbox:hover {
  transform: scale(1.05);
  border: 1px var(--bg-list) solid;
}
.item-description {
  width: 100%;
  cursor: text;
  /* border: #77b255 1px solid; */
  min-height: 1.2rem;
}
.checkbox img {
  border-radius: 50%;
  background-color: var(--green);
  width: 1.1rem;
  height: 1.1rem;
  min-width: 1.1rem;
  max-width: 1.1rem;
  min-height: 1.1rem;
  max-height: 1.1rem;
  user-select: none;
  transition: 120ms linear;
  opacity: 0;
}
.checkbox img:hover {
  opacity: 0.4;
  transform: scale(1.05);
}
.checked {
  opacity: 1 !important;
}
.item-dragger {
  width: 1rem;
  cursor: grab;
  margin-left: 0.5rem;
}

li {
  /* border: 1px gray solid; */
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.item-input {
  border: none;
  width: 100%;
  outline: none;
  text-align: left !important;
  font-size: 1em;
  margin-left: 0.1rem !important;
}
.item-input::placeholder {
  text-align: left !important;
}
.add-item {
  cursor: text;
}
.add-item img {
  width: 1.1rem;
  height: 1.1rem;
  min-width: 1.1rem;
  max-width: 1.1rem;
  min-height: 1.1rem;
  max-height: 1.1rem;
  background-color: #fff;
  border-radius: 50%;
}
li:hover {
  background-color: rgb(234, 234, 234);
}
.col-btns * {
  background-color: rgb(255, 236, 149);
  border: 1px black solid;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  transition: 80ms linear;
}
.col-btns *:hover {
  background-color: rgb(255, 241, 115);
  transform: scale(1.05);
}
.col-btns *:active {
  transform: scale(1);
}
input[type="button"]:focus {
  border: none;
  outline: none;
}
#add-list-btn img {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
}
#add-list-btn {
  text-align: center;
  margin: 0 2rem;
  background-color: rgb(255, 255, 207);
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 70ms linear;
  box-shadow: 0 0 5px 5px rgba(215, 215, 215, 0.5);
}
#add-list-btn:hover {
  transform: scale(1.1);
  /* border: rgb(137, 137, 229) 2px solid; */
  box-shadow: 0 0 5px 5px rgba(170, 170, 170, 0.8);
}
#add-list-btn:active {
  transform: scale(1);
}
@media screen and (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .list {
    height: max-content;
  }
}
@media screen and (min-width: 1300px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
