body {
    background-color: rgb(65, 0, 0);
    color: rgb(230, 230, 230);
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    font-size: 4rem;
    text-align: center;
    background-color: rgb(17, 17, 17);
    margin-bottom: 1rem;
    padding: 1rem;
}
#new-book-button{
    visibility: visible;
    position: relative;
    top: -450px;
    scale: 7%;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    padding: 5rem;
    box-shadow:0 0 20px 10px rgb(71, 71, 71);
    margin: 10rem auto;
}
#new-book-button:hover { 
    box-shadow:0 0 20px 30px rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
}
#form {
    visibility: collapse;
    position: absolute;
    background-color: rgb(37, 37, 37);
    padding: 2rem;
    border-radius: 1rem;
    border: 1px black solid;
    width: max-content;
    margin: 0 auto;
}
fieldset ul li{
    display: flex;
    justify-content:end;
    align-items:center;
    padding: .5rem;
}
form button {
    width: 8.5rem;
    border: none;
    border-radius: 1px;
}
legend {
    font-weight: bold;
    font-size: 1.5rem;
    width: auto;
    margin: auto;
    padding-bottom: .7rem;
}
input {
    border: none;
    border-radius: 1px;
    margin-left: 3px;
}
#lib-div {
    margin: 1rem;
    max-width: 95vw;
}
.book-card {
    width: 85vw;
    min-width: max-content;
    background-color: rgb(36, 36, 36);
    padding: 1rem;
    border-radius: 10px;
    border: 1px rgba(97, 97, 97, 0.329) solid;
    border-left-color: white;
    border-left-width: 2px;
    border-right-color: white;
    border-right-width: 2px;
    border-bottom-color: black;
    
    /* float: left; */
    margin: 1rem auto;
    height: 10rem;
    text-align: center;
}
.small-div:first-child{
    font-size: 2rem;
}
.small-div:nth-child(2) {
    font-size: 1.3rem;
}
.small-div {
    padding: .1rem;
}
.delete-button {
    background-color: rgb(255, 111, 111);
    border: none;
    border-radius: 5px;
    padding: .4rem .9rem;
}
.delete-button:hover {
    background-color: red;
    color: white;
}