html {
  --bg-header: rgb(54, 54, 54);
  --bg-main: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
body {
  margin: 0;
}
header {
  background-color: var(--bg-header);
  color: white;
  margin: none;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main {
  background-color: var(--bg-main);
  height: 100vh;
}
nav {
  width: fit-content;
  /* float: right; */
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: end;
}
.nav-item {
  /* margin: 5px; */
  padding: 0.5em 0.7rem;
  /* display: inline-block; */
  width: 100%;
  text-align: center;
  cursor: pointer;
  /* position: absolute; */
}
#col-nav {
  overflow: wrap;
}
.hidden {
  visibility: hidden;
  display: none;
}

.active-col-nav {
  background-color: #222 !important;
  border: 1px yellow solid;
}
.col-nav-item {
  background-color: #444;
  padding: 0.5rem 0.7rem;
  width: max-content;
  color: #ddd;
  margin: 1px;
  margin-right: none;
  cursor: pointer;
  display: inline-block;
}
.col-nav-item:hover {
  background-color: rgb(7, 53, 122) !important;
  /* color: #000; */
  /* scale: 105%; */
}

.list {
  width: 90vw;
  margin: 1rem auto;
  border-radius: 3px;
  border: 1px rgb(0, 0, 0) solid;
}
.list-col {
  color: gray;
  background-color: #fff;
  border-radius: 3px;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.list-title {
  font-size: 1.6rem;
  font-weight: bold;
}
.titles {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  background-color: rgb(203, 217, 255);
}
ul.items {
  margin: 0;
}
li {
  background-color: white;
  list-style: none;
  padding: 0.5rem;
}
li:hover {
  background-color: rgb(215, 255, 215);
}
li:not(:last-child) {
  border-bottom: rgb(207, 207, 207) 1px solid;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
.addItem {
  color: gray;
  padding-left: 0.7rem;
}
.addItem span {
  padding-left: 0.9rem;
}
#add-list-nav {
  background-color: rgb(73, 73, 255);
}
#add-col-nav {
  background-color: rgb(255, 139, 61);
}
#add-list-nav:hover {
  background-color: rgb(2, 2, 255);
}
#add-col-nav:hover {
  background-color: rgb(255, 102, 0);
}
